@namespace MudBlazor.Docs.Shared
@inherits LayoutComponentBase

<PageTitle>MudBlazor - Blazor Component Library</PageTitle>

<MudRTLProvider RightToLeft="@_rightToLeft">
    <MudThemeProvider Theme="_currentTheme"/>
    <MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" />
    <MudSnackbarProvider />

    <MudSwipeArea OnSwipe="@OnSwipe">
        <MudLayout>
            <MudAppBar Elevation="25">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <MudText Typo="Typo.h5" Class="mudblazor-appbar-brand-text d-none d-md-flex">Keizer Tournament Generator</MudText>
                <MudSpacer />
                <div class="d-md-flex align-center">
                    <MudTooltip Text="Toggle light/dark theme">
                        <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())" />
                    </MudTooltip>
                    <MudTooltip Text="Toggle right-to-left/left-to-right">
                        <MudIconButton Icon="@Icons.Material.Filled.FormatTextdirectionRToL" Color="Color.Inherit" OnClick="@((e) => RightToLeftToggle())" />
                    </MudTooltip>
                </div>
            </MudAppBar>

            <MudDrawer @bind-Open=_drawerOpen Elevation="25" Breakpoint="Breakpoint.Lg" Class="mudblazor-appbar-band">
                <MudDrawerHeader Class="mudblazor-brand" LinkToIndex="true">
                    <KeizerLogo />
                </MudDrawerHeader>
                <NavMenu @ref="@_navMenuRef" />
            </MudDrawer>
                @Body
            <MudScrollToTop TopOffset="400" Style="z-index:2000;">
                <MudFab Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" />
            </MudScrollToTop>
        </MudLayout>
    </MudSwipeArea>
</MudRTLProvider>